<!DOCTYPE html>
    <html>
    
     <head>
      <title>{{ site.title }} | {{ page.title }}</title>
      <meta name="description" content="{{ page.description }}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="{{ site.dev_url }}/assets/css/index.css"/>
      </head>
    
     <body>
    
     <img class="pfp" src"{{ site.logo_url }}"/>
     <h1>{{ page.title }}</h1>
     <p class="motto">{{ site.motto }}</p>
    
     <div class="navBar"></div>
     <div class="nav">
      <ul class="nav">
       {% for item in data["data"]["nav"] %}
        <li class="nav">
         <a class="nav" href="{{ item.url }}">{{ item.name }}</a>
        </li>
       {% endfor %}
      </ul>
     </div>

     {% for item in iterative_content["documentation"] %}
     <div class="preview">
      <h2 class="item">{{ item.title }}</h2>
      <p class="preview">{{ item.description }}</p>
      <p class="preview">{{ item.url }}</p>
     </div>
     {% endfor %}
      
     <div class="content">
      {{ page.content }}
     </div>
    
     <div class="footer">
      <p class="footer">{{ site.title }}</p>
     </div>
    
     </body>
    </html>
    